<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm/Sửa Loại đồ dùng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2 th:text="${productType.id != null} ? 'Sửa Loại đồ dùng' : 'Thêm Loại đồ dùng'"></h2>

            <form th:action="@{/product-types}" th:object="${productType}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name">Tên loại đồ dùng:</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}" placeholder="Nhập tên loại đồ dùng" required/>
                </div>

                <button type="submit" class="btn btn-success">Lưu</button>
                <a href="/product-types" class="btn btn-secondary">Quay lại</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
